{% extends 'base.html' %}

{% block content %}
<div class="col-12 mb-3">
    <div class="card mb-3">
            <h1 class="h4 card-header text-center">
            Masala #{{task.id}}
        </h1>
    </div>



        <div class="px-3">
                            <span class="badge badge-info text-white float-right" onclick="driver.start()" id="info">
                &nbsp;<i class="fa fa-info"></i>&nbsp;
            </span>

            <h2 class="mt-3">{{task.title}}</h2>
            <div class="card-text task-contents">
                <p>{{task.body}}</p>
            </div>
        </div>
        <hr>
        <div class="px-3">
            <div class="h5 text-info" id="input_info">Kiruvchi ma'lumotlar:</div>
            <div class="card-text task-contents">
                <p>{{task.input_data}}</p>
            </div>
        </div>
        <hr>
        <div class="px-3">
            <div class="h5 text-info" id="output_info">Chiquvchi ma'lumotlar:</div>
            <div class="card-text task-contents">
                <p>{{task.output_data}}</p>
            </div>
        </div>
        <hr>
        <div class="px-3 h5 text-info">Misollar</div>
        <div class="table-responsive px-3">
            <table class="table table-bordered table-hover monotext notranslate">
                <tbody><tr>
                    <th class="pl-3" width="50">#</th>
                    <th width="50%">input.txt</th>
                    <th width="50%">output.txt</th>
                </tr>

                                    <tr>
                        <td class="pl-3">1</td>
                        <td class="position-relative">
                            <pre>{{task.example_input}}</pre>

                            <button class="btn btn-primary btn-sm clip-copy position-absolute" style="top: 10px; right: 10px" data-clipboard-text="2 3" data-original-title="" title="">
                                <i class="fa fa-clipboard"></i>
                            </button>
                        </td>
                        <td class="position-relative">
                            <pre>{{task.example_output}}</pre>

                            <button class="btn btn-primary btn-sm clip-copy position-absolute" style="top: 10px; right: 10px" data-clipboard-text="5" data-original-title="" title="">
                                <i class="fa fa-clipboard"></i>
                            </button>
                        </td>
                    </tr>
                            </tbody></table>
        </div>



            </div>


    {% if user.is_authenticated %}
        <form action="{% url 'result' task.id %}" method="POST">
            {% csrf_token %}
            <textarea name="code" style="width:250px;height:150px;"></textarea>
            <input type="submit" value="Send">
        </form>
    {% else %}
    <div class="card">
        <div class="h5 card-header">
            Yechimini yuborish
        </div>
        <div class="card-body p-0">
            <div class="p-3">
                Bu amalni bajarish uchun <b><a href="{% url 'login' %}">tizimga kiring</a></b>,
                        agar profilingiz bo'lmasa istalgan payt <b><a href="/register">ro'yxatdan o'tishingiz</a></b> mumkin
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}